@media (max-width: 1300px) {
    .menu {
        margin: 0 10% 0 30%;
    }
    .main {
        height: 100%;
        position: relative;
        padding-top: 300px;
        padding-left: 10%;
    }
    .main::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
    }
    .title_container,.title_container h3,.title_container h1, .title_container input {
        position: relative;
        z-index: 2;
        color: #e0e0e7;
        margin: 0 auto;
    }
    .title_container h3 {
        color:#e3e9ff;
    }
    .title_container input[type="button"] {
        color: #e3e9ff;
    }

    .statistics_background {
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    .statistics_background::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    .statistics, .statistics_item, .statistics_item p, .statistics_item h3 {
        position: relative;
        z-index: 2;
    }
    .my_works table {
        display: none;
    }
    .find_cost, .my_skills, .my_works, .statistics, .contacts, .reviews {
        width: 80%;
    }
    .about_me {display: block}
    .resume_container {
        width: 80%;
        margin-left: 10%;
        margin-top: 3%;
        padding-bottom: 100px;
    }
    .about_container {
        width: 80%;
    }
    .find_cost_footer input[type="submit"] {
        font-size: 18px;
    }
}

@media (max-width: 1100px) {
    .menu ul li{
        font-size: 14px;
    }
    .main {
        background: url(../img/im.png) 100% 100% / auto 72% no-repeat , url(../img/bg.png) center/cover no-repeat;
    }
    .my_skills {
        width: 90%;
    }
    .my_skills_item p {
        font-size: 16px;
    }
    .my_skills_item h3 {
        font-size: 22px;
    }
    .find_cost_footer input[type="submit"] {
        font-size: 15px;
    }
}


@media (max-width: 880px) {
    .menu {
        display: none;
    }
    .name {
        width: 40%;
    }
    .request input[type="text"],.request input[type="email"], .request textarea {
        font-size: 16px;
    }
    .main {
        background: url(../img/bg.png) center/cover no-repeat;
    }
    .about_me img {
        width: 25%;
    }
    .about_me p{
        font-size: 20px;
    }
    .small_photo {
        display: block;
        background: url("../img/im_small.jpg") center /cover no-repeat;
        width: 340px;
        height: 340px;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 6px 0;
        border-radius: 100%;
        position: relative;
        z-index: 2;
        margin: -35% auto 20px auto;
    }
    .title_container,.title_container h3,.title_container h1, .title_container input {
        margin: 0 auto;
    }
    .my_skills_item img{
        height: 50px;
    }
    .my_skills_item {
        text-align: center;
        display: inline-block;
        width:50%;
        margin-top: 4%;
    }
    .my_skills_item p {
        font-size: 18px;
    }
    .my_skills_item h3 {
        font-size: 24px;
    }
    .find_cost_footer input[type="submit"] {
        width: 45%;
    }
    .find_cost_footer {
        padding-bottom: 12%;
    }
}

@media (max-width: 480px) {
    .title_container h1 {
        font-size: 30px;
    }
    .title_container h3 {
        font-size: 13px;
        width: 100%;
    }
    .small_photo {
        width: 240px;
        height: 240px;
        margin: -55% 0 20px 5%;
    }
    .name {
        margin-left: 10px;
    }
    .menu ul li{
        font-size: 14px;
    }
    .name {
        width: 70%;
    }
    .find_cost h2 {
        font-size: 24px;
    }
    .request h2 {
        font-size: 24px;
    }
    .contacts ul li {
        font-size: 20px;
    }
    .contacts ul li a {
        font-size: 16px;
    }
    .my_skills_item img{
        height: 35px;
    }
    .find_cost_footer input[type="submit"] {
        font-size: 13px;
        width: 60%;
    }
    .find_cost_footer {
        padding-bottom: 20%;
    }
}
