body {
    font-family: Arial,sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #13123c;
}

.name {
    color: #e0e0e7;
    font-size: 25px;
    line-height: 60px;
    padding-left: 200px;
    float: left;
}

.menu {
    float: left;
    padding-left: 500px;
}

.menu li {
    line-height: 60px;
    float: left;
    margin-right: 40px;
    text-transform: uppercase;
    color: #e0e0e7;
    font-size: 18px;
    letter-spacing: -0.5px;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/man.png) 90% 100% / auto 100% no-repeat , url(../img/bg.jpg) center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 280px 0 0 330px;
    color: #13123c;
    text-align: center;
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h3 {
    font-size: 18px;
    margin-top: 5px;
    color: #002e7c;
}

.title_container input {
    height: 40px;
    width: 120px;
    text-align: center;
    border: 2px solid #002e7c;
    background: none;
    border-radius: 5px;
    color: #002e7c;
    font-size: 15px;
    padding: 0 15px;
    margin: 15px 2px 0 5px;
}

.about {
    text-align: center;
    display: inline-block;
}

.about h2 {
    margin-top: 20px;
    color: #13123c;
    font-size: 35px;
    font-weight: bold;
}

.about h3 {
    color: #002e7c;
    font-size: 25px;
}

.about p {
    margin-top: 2%;
    font-size: 22px;
}

.about button {
    height: 40px;
    text-align: center;
    border: 2px solid #002e7c;
    background: none;
    border-radius: 5px;
    color: #13123c;
    font-size: 14px;
    padding: 0 13px;
    margin: 10px 2px 0 2px;
}

.about_container {
    height: 300px;
    width: 48%;
    padding: 10px;
    margin-top: 2%;
    margin-left: 10%;
    border: 3px solid #002e7c;
    border-radius: 10px;
    float: left;
}
.about_container p {
    padding: 2.5%;
}

.resume_container {
    height: 300px;
    width: 30%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 8%;
    border: 3px solid #002e7c;
    border-radius: 10px;
    float: left;
}

.resume_container h2 {
    margin-top: 40px;
    color: #002e7c;
}

.resume_container button {
    margin-top: 30px;
    height: 80px;
    width: 200px;
    font-size: 20px;
}

.my_skills {
    float: left;
    height: 700px;
    width: 80%;
    margin-top: 2%;
    margin-right: 8%;
    border: 3px solid #002e7c;
    border-radius: 10px;
    margin-left: 10%;
    text-align: center;
}

.my_skills h2 {
    margin-top: 30px;
}

.my_skills ul li h3 {
    margin-top: 40px;
    padding-bottom: 10px;
}

.my_skills ul p {
    max-width: 60%;
    margin-left: 20%;
}

.my_works{
    float: left;
    height: 700px;
    width: 80%;
    margin-top: 2%;
    margin-right: 8%;
    border: 3px solid #002e7c;
    border-radius: 10px;
    margin-left: 10%;
    text-align: center;
}
.my_works p {
    margin-left: 20%;
    max-width: 60%;
}

.my_works img {
    padding: 2%;
    height: 60%;
    width: 54%;
}
.my_works table {
    margin-top: 20px;
    max-width: 70%;
    margin-left: 25%;
}

.my_works th h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.my_works td {
    font-size: 15px;
    text-align: center;
    padding: 2%;
}

.plugins {
    text-align: center;
    font-family: Arial,sans-serif;
    display: inline-block;
}

.plugins h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #13123c;
    font-size: 35px;
    font-weight: bold;
}

.plugins h3 {
    color: #002e7c;
    font-size: 25px;
}

.plugins p {
    margin-top: 2%;
    padding: 2%;
    font-size: 22px;
}

.plugins button {
    height: 40px;
    text-align: center;
    border: 2px solid #002e7c;
    background: none;
    border-radius: 5px;
    color: #13123c;
    font-size: 14px;
    padding: 0 13px;
    margin: 10px 2px 0 2px;
}

.find_cost {
    float: left;
    margin-top: 2%;
    height: 400px;
    width: 40%;
    padding: 10px;
    margin-left: 10%;
    border: 3px solid #002e7c;
    border-radius: 10px;
}
.find_cost h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 2%;
}

.find_cost select {
    border: 2px solid #002e7c;
    border-radius: 5px;
    background: none;
    height: 40px;
    width: 80px;
    text-align: center;
    font-size: 12px;
}

.find_cost select option {
    font-size: 15px;
}

.notebook_photo {
    max-width: 40%;
    float: right;
    margin-top: 2%;
    margin-right: 10%;
}

.notebook_photo img{
    height: 400px;
    border-radius: 5px;
}

.statistics {
    float: left;
    height: 250px;
    width: 80%;
    margin-top: 2%;
    margin-right: 8%;
    border: 3px solid #002e7c;
    border-radius: 10px;
    margin-left: 10%;
    text-align: center;
}

.statistics ul {
    color: #002e7c;
    font-size: 21px;
    line-height: 100px;
    margin-top: 0.8%;
    margin-left: 5%;
    float: left;
}

.statistics ul li {
    float: left;
    line-height: 100px;
    margin-left: 40px;
}

.reviews{
    float: left;
    height: 300px;
    width: 80%;
    margin-top: 2%;
    margin-right: 8%;
    border: 3px solid #002e7c;
    border-radius: 10px;
    margin-left: 10%;
    text-align: center;
}

.contacts{
    float: left;
    height: 800px;
    width: 80%;
    margin: 2% 40px 8% 10%;
    border: 3px solid #002e7c;
    border-radius: 10px;
    text-align: center;
}

.contacts ul {
    color: #13123c;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0.8%;
    margin-left: 30%;
    float: left;
}

.contacts ul li {
    text-align: left;
    line-height: 50px;
}

.contacts ul li a{
    line-height: 50px;
    font-size: 20px;
    padding-left: 20px;
    color: #002e7c;
    font-weight: 600;
}

.request {
    float: left;
    margin: 4% 20px 8% 10%;
    border: 3px solid #002e7c;
    border-radius: 10px;
    height: 370px;
    width: 80%;
}

.request input[type="text"] {
    height: 40px;
    width: 25%;
    font-size: 20px;
    padding: 10px;
    margin-top:20px;
}

.request input[type="email"] {
    height: 40px;
    width: 25%;
    font-size: 20px;
    padding: 10px;
    margin-top:20px;
}

.request input[type="submit"] {
    height: 55px;
    width: 50%;
    font-size: 22px;
    padding: 10px;
    color: #13123c;
    font-weight: bold;
    border: #002e7c solid 3px;
    border-radius: 10px;
    background: none;
}

.request textarea {
    height: 130px;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}