/* Общие параметры */
body {
    font-family: "inter_tight__medium", "Inter", "Helvetica", sans-serif;
    font-size: 2rem;
}

/* Выделение мыши */
::selection {
    background-color: var(--dark-gray);
    color: var(--light-text);
}

/* Прокрутка */
html {
    scrollbar-gutter: stable;
}
&::-webkit-scrollbar {
    background-color: var(--black-bg);
    width: 8px;
}
&::-webkit-scrollbar-thumb {
    background-color: var(--light-text);
    border-radius: 4px;
    background-clip: content-box;
}
&::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
}
