:root {
    /* Цвета */
    --black-bg: #070d0d;
    --light-text: #f6f9f5;
    --light-gray-bg: #f6f9f5;
    --dark-gray: #262626;
    --green: #abfa54;

    /* Градиенты */


    /* Тени */
    --top-box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.3);
    --right-box-shadow: 20px 0 20px -20px rgba(0, 0, 0, 0.2);
    --bottom-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.2);

    /* Радиусы */
    --border-radius: 32px;
    --two-border-radius: 64px;

    /*  Отступы  */
    --section-padding: 10vh 6vw;
    --max-width: 3440px;

    /*  Шрифты  */
    --black-text: "inter_tight__black", "Inter", "Helvetica", sans-serif;
    --medium-text: "inter_tight__medium", "Inter", "Helvetica", sans-serif;

}