.aboutContainer {
    background: var(--light-gray-bg);
    padding: 15vh 0 0 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
}
.aboutTextContainer {
    margin: 0 auto;
    width: 40%;
    text-align: center;
}
.aboutText {
    margin-top: 5rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2.8rem);
}

/* Контейнер плиток */
.aboutTilesContainer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.aboutTilesWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

@media (max-width: 780px) {
    .aboutTextContainer {
        width: 60%;
    }
}

@media (max-width: 520px) {
    .aboutTextContainer {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .aboutTextContainer {
        width: 90%;
    }
}