.aboutTile {
    position: absolute;
    bottom: 0;
    width: 30vw;
    height: 60vh;
    background: var(--light-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 4rem 2rem 2rem 2rem;
}
.left {
    left: 5%;
}
.right {
    right: 5%;
}

.contentContainer {
    width: 80%;
    height: 80%;
    border: 8px solid var(--black-bg);
    justify-self: center;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.item {
    cursor: grab;
    user-select: none;
    border-radius: var(--two-border-radius);
    border: 3px solid var(--black-bg);
    padding: 1rem 4rem;
    color: var(--black-text);
    position: absolute;
}

.titleText {
    font-family: var(--black-text);
    font-size: clamp(1rem, 0.392rem + 3.04vw, 4rem);
    color: var(--black-text);
}