.my-works-section {
    background: var(--light-text);
    min-height: 100vh;
    padding: 4rem 0;
}

.my-works-section__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 2rem;
}

.my-works-section__footer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.my-works-section__view-all {
    /* Дополнительные стили для кнопки, если нужно */
}

/* Адаптив */
@media (max-width: 768px) {
    .my-works-section {
        padding: 1rem 0.2rem 3rem 0.2rem;
    }
    .my-works-section__cards {
        gap: 2rem;
        padding: 0;
    }

    .my-works-section__footer {
        margin-top: 3rem;
    }
}

@media (max-width: 520px) {
    .my-works-section {
        padding: 3rem 0.8rem 4rem 0.8rem;
    }
    .my-works-section__cards {
        gap: 0;
    }
    .my-works-section__footer {
        margin-top: 1rem;
    }
}