@import url(base/reset.css);
@import url(base/base.css);
@import url(utils/fonts.css);
@import url(utils/variables.css);

/* ------------- */

.container {
    min-height: 100vh;
    width: 100%;
}

.title-text {
    --font-size: clamp(2.5rem, 0.981rem + 7.59vw, 10rem);
    font-size: var(--font-size);
    line-height: calc(var(--font-size) / 1.2);
    font-family: var(--black-text);
    text-wrap: nowrap;
}