@import url(base/reset.css);
@import url(base/base.css);
@import url(utils/fonts.css);
@import url(utils/variables.css);

/* ------------- */

.container {
    min-height: 100vh;
    width: 100%;
}

.title-text {
    --font-size: clamp(2.5rem, 0.981rem + 7.59vw, 10rem);
    font-size: var(--font-size);
    line-height: calc(var(--font-size) / 1.2);
    font-family: var(--black-text);
    text-wrap: nowrap;
}

/* ------------- */
.underline-text {
    position: relative;
}
.underline-text::after, .underline-text::before {
    content: "";
    position: absolute;
    bottom: -0.2em;
    background-color: var(--dark-gray);
    width: 0;
    height: 2px;
    transition: all 0.4s ease-in-out;
}
.underline-text::after {
    left: 0;
}
.underline-text::before {
    right: 0;
}
.underline-text:hover::after, .underline-text:hover::before {
    width: 50%;
}