.mySkillsSectionContentContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black-bg);
    padding: 0 4rem;
}

.mySkillsSectionContentContainer__text {
    color: var(--light-text);
    text-wrap: balance;
    font-family: var(--black-text);
    font-size: clamp(0.8rem, 0.557rem + 1.22vw, 2rem);
    width: 30%;
}

.mySkillsSectionContentContainer__imgContainer {
    height: 80%;
    width: 30%;
    align-self: flex-end;
    overflow: hidden;
    transform: perspective(1000px);
}
.mySkillsSectionContentContainer__imgContainer img {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 920px) {
    .mySkillsSectionContentContainer {
        flex-direction: column;
        padding: 1rem 2rem;
    }
    .mySkillsSectionContentContainer__imgContainer {
        align-self: center;
        height: 60%;
        width: 40%;
    }
    .mySkillsSectionContentContainer__text[data-left] {
        align-self: flex-start;
    }
    .mySkillsSectionContentContainer__text[data-right] {
        align-self: flex-end;
    }
}
@media (max-width: 780px) {
    .mySkillsSectionContentContainer__imgContainer {
        height: 50%;
    }
}
@media (max-width: 420px) {
    .mySkillsSectionContentContainer__imgContainer {
        height: 40%;
        width: 60%;
    }
}