.ellipsLink {
    border-radius: 100px;
}

/* Цвета */
.ellipsLink__dark {
    background: var(--black-bg);
    color: var(--light-text);
}

.ellipsLink__light {
    background: var(--light-text);
    color: var(--dark-gray);
}

/* Размер */
.ellipsLink__middle {
    padding: 2rem 4rem;
}

.ellipsLink__big {
    padding: 4.5rem 6rem;
}


/* Анимация текста */
.ellipsLink__textContainer {
    font-family: var(--black-text);
    --font-size: clamp(1rem, 0.494rem + 2.53vw, 3.5rem);
    font-size: var(--font-size);
    height: var(--font-size);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.originalText, .newText {}

/* Адаптация */
@media (max-width: 520px) {
    .ellipsLink__big {
        padding: 2.5rem 4rem;
    }
}